.react-chatbot-kit-chat-container {
  position: fixed;
  right: 30px;
  width: 370px;
  bottom: 25px;
  height: 60%;
  min-height: 520px;
  max-height: 680px;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: rgb(0 0 0 / 30%) 0px 12px 60px 5px;
}

.react-chatbot-kit-chat-inner-container {
  height: 100%;
  background-color: #f8f9fa;
}

.react-chatbot-kit-chat-input-container {
  padding: 0;
}

.react-chatbot-kit-chat-message-container {
  height: 500px;
  padding: 0.5rem 1.1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.react-chatbot-kit-chat-input {
  border: none;
  border-radius: 20px;
  padding: 1.3rem 1.2rem;
  margin-right: 0.5rem;
  font-weight: 300;
}

.react-chatbot-kit-chat-input-form {
  background-color: #ffffff;
  border: 1.4px solid #f2f2f2;
}

.react-chatbot-kit-chat-input::placeholder {
  color: #d4d4d4;
  font-weight: 300;
}

.react-chatbot-kit-chat-btn-send {
  --tw-bg-opacity: 1;
  background-color: rgb(214 12 12 / var(--tw-bg-opacity, 1));
}

.react-chatbot-kit-chat-bot-message-container {
  align-items: flex-end;
  margin: 1.2rem 0;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 10px;
  background-color: black;
  border: none;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: black 8px solid;
}

.react-chatbot-kit-user-chat-message-container {
  margin: 15px;
}

.react-chatbot-kit-user-avatar-container {
  display: none;
}
